.container {
  align-items: center;
  display: flex;
  list-style-type: none;
  justify-content: space-between;

  > .leftColumn {
    align-items: center;
    display: flex;
  }

  > .leftColumn > .marker {
    align-items: center;
    background-color: var(--backgroundVariant);
    border-radius: 50%;
    display: flex;
    height: 2rem;
    justify-content: center;
    text-align: center;
    width: 2rem;
  }

  > .leftColumn > .info {
    margin-left: 0.75rem;
  }

  &:first-child {
    margin-top: 0.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
