.container {
  color: var(--on-background-variant);
  margin: auto;
  text-align: center;

  > .day {
    margin-top: 0.25rem;
    padding: 2px 16px;
  }

  > .day.selected {
    color: var(--on-primary-dark);
    background-color: var(--primary-dark);
    border-radius: 8px;
  }
}
