.container {
  > .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  > .exerciseName {
    margin-top: 1rem;
  }

  > .form {
    margin-top: 0.5rem;
  }

  > .form > .exerciseName {
    margin-top: 1rem;
  }

  > .form > .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  > .form > .actions {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
  }

  > .form > .actions > .nextButton {
    flex: 1;
  }

  > .form > .actions > .addButton {
    flex: 1;
  }
}
