.container {
  border: none;
  margin: 25svh auto;

  &:modal {
    > .content > .close {
      color: #aaa;
      float: right;
      font-size: 2rem;
      font-weight: bold;
      margin-right: 0.5rem;
    }

    > .content > .close:hover,
    > .content > .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &::backdrop {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
}
