/* VARIABLES */
:root {
  /* Theme colors */
  --primary: #49a7d0;
  --primaryDark: #3987af;
  --primaryDarkest: #295779;
  --primaryLight: #8dd2e5;
  --primaryLighter: #e1f3f8;
  --primaryLightest: #f0f9fc;
  --error: #e70909;
  --surface: #ffffff;
  --divider: #dbdbdb;
  --background: #ffffff;
  --backgroundVariant: #eef1f4;
  --onPrimary: #000000;
  --onPrimaryDark: #ffffff;
  --onPrimaryDarkest: #ffffff;
  --onPrimaryLight: #000000;
  --onPrimaryLighter: #000000;
  --onPrimaryLightest: #000000;
  --onError: #ffffff;
  --onSurface: #000000;
  --onBackground: #000000;
  --onBackgroundVariant: #000000;

  /* Form colors */
  --body-bg-color: #eee;
  --body-text-color: #444;
  --body-accent-color: #4834d4;
  --body-accent-color-contrast: #fff;

  --btn-text-color: var(--body-accent-color-contrast);
  --btn-bg-color: var(--body-accent-color);
  --btn-active-bg-color: #333;
  --btn-focus-bg-color: #333;

  --textfld-bg-color: #fff;
  --textfld-border-color: #ccc;
  --textfld-active-border-color: #aaa;
  --textfld-focus-border-color: var(--body-accent-color);

  --textfld-valid-border-color: hsl(140 50% 75%);
  --textfld-valid-active-border-color: hsl(140 50% 65%);
  --textfld-valid-focus-border-color: hsl(140 50% 50%);

  --textfld-invalid-border-color: hsl(20 65% 75%);
  --textfld-invalid-active-border-color: hsl(20 65% 65%);
  --textfld-invalid-focus-border-color: hsl(20 65% 50%);

  /* Form spacing */
  --form-gap-margin: 1.5em;

  --input-border-radius: 0.25em;
  --input-border-width: 2px;
  --input-disabled-opacity: 0.5;
  --input-leading: 120%;
  --input-padding: 0.75em;
  --input-transition-duration: 250ms;
  --input-transition-function: ease-in-out;
  --input-transition: color var(--input-transition-duration),
    background-color var(--input-transition-duration),
    border-color var(--input-transition-duration)
      var(--input-transition-function);
  --input-width: 250px;

  --label-margin: 0.5em;

  --textarea-height: 250px;
  --textarea-width: 450px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Form colors */
    --body-bg-color: #111;
    --body-text-color: #ddd;
    --body-accent-color: #6c5ce7;
    --body-accent-color-contrast: #fff;

    --btn-text-color: var(--body-accent-color-contrast);
    --btn-bg-color: var(--body-accent-color);
    --btn-active-bg-color: #333;
    --btn-focus-bg-color: #333;

    --textfld-bg-color: #222;
    --textfld-border-color: #333;
    --textfld-active-border-color: #444;
    --textfld-focus-border-color: var(--body-accent-color);

    --textfld-valid-border-color: hsl(140 90% 20%);
    --textfld-valid-active-border-color: hsl(140 90% 30%);
    --textfld-valid-focus-border-color: hsl(140 90% 45%);

    --textfld-invalid-border-color: hsl(20 90% 20%);
    --textfld-invalid-active-border-color: hsl(20 90% 30%);
    --textfld-invalid-focus-border-color: hsl(20 90% 45%);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* GENERAL */
/* Following CSS reset is inspired by https://www.joshwcomeau.com/css/custom-css-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundVariant);
  line-height: 1.5;
}

main {
  padding: 0 16px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* FORM ELEMENTS */
:read-only {
  &:not(
      label,
      button,
      input[type='button'],
      input[type='submit'],
      input[type='reset']
    ) {
    cursor: default;
  }
}

:disabled {
  opacity: var(--input-disabled-opacity);
  cursor: not-allowed;
}

/* All elements regardless of types */
input,
select,
option,
textarea,
button,
datalist,
fieldset,
legend,
optgroup,
output,
input::file-selector-button {
  font: inherit;
  color: inherit;
  accent-color: var(--body-accent-color);
  transition: var(--input-transition);
  line-height: var(--input-leading);
}

/* Text-fields, buttons, and drop-down lists */
select,
textarea,
input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
button,
input[type='reset'],
input[type='submit'],
input[type='button'],
input::file-selector-button {
  border: var(--input-border-width) solid var(--textfld-border-color);
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  background-color: var(--textfld-bg-color);

  &:focus {
    outline: 0;
  }
}

/* All text-fields and drop-down lists */
select,
textarea,
input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  width: var(--input-width);
  max-width: 100%;

  &:hover,
  &:active {
    &:not([readonly], [disabled]) {
      border-color: var(--textfld-active-border-color);
    }
  }

  &:focus {
    &:not([readonly], [disabled]) {
      border-color: var(--textfld-focus-border-color);
    }
  }

  /* Form validation */
  &:required {
    &:valid {
      &:hover,
      &:active {
        &:not([readonly], [disabled]) {
          border-color: var(--textfld-valid-active-border-color);
        }
      }

      &:focus {
        &:not([readonly], [disabled]) {
          border-color: var(--textfld-valid-focus-border-color);
        }
      }
    }
    &:invalid {
      &:hover,
      &:active {
        border-color: var(--textfld-invalid-active-border-color);
      }

      &:focus {
        border-color: var(--textfld-invalid-focus-border-color);
      }
    }
  }

  /* Selection */
  &::selection {
    background-color: var(--body-accent-color);
    color: var(--body-accent-color-contrast);
  }
}

/* Drop-down lists */
select {
  &:not([disabled], [readonly]) {
    option {
      &:focus,
      &:active,
      &:hover,
      &:checked {
        background-color: var(--body-accent-color);
        color: var(--body-accent-color-contrast);
      }
    }
  }
}

/* Color inputs */
input[type='color'] {
  cursor: pointer;
  border-style: solid;
  border-radius: var(--input-border-radius);
  border-color: var(--textfld-border-color);
  background-color: var(--textfld-bg-color);

  &:hover,
  &:active {
    &:not([disabled]) {
      border-color: var(--textfld-active-border-color);
    }
  }

  &:focus {
    outline: 0;
    &:not([disabled]) {
      border-color: var(--textfld-focus-border-color);
    }
  }
}

/* Buttons and actions */
button,
input[type='reset'],
input[type='submit'],
input[type='button'],
input::file-selector-button {
  border-color: var(--btn-bg-color);
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  cursor: pointer;

  &:hover,
  &:active {
    background-color: var(--btn-active-bg-color);
    border-color: var(--btn-active-bg-color);
  }

  &:focus {
    background-color: var(--btn-active-bg-color);
  }
}

/* Labels */
label {
  cursor: pointer;
  display: block;

  & + &,
  & + input,
  & + select,
  & + button,
  & + textarea {
    margin-top: var(--label-margin);
  }

  /* Inputs nested in labels */
  &:has(input:disabled) {
    :disabled {
      opacity: 1;
    }
    opacity: var(--input-disabled-opacity);
    cursor: not-allowed;
  }
}

/* Textarea */
textarea {
  width: var(--textarea-width);
  min-height: var(--textarea-height);
  max-width: 100%;
}

/* File input's button */
input::file-selector-button {
  margin-right: var(--form-gap-margin);
}

/* TYPOGRAPHY */
.headline1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.09375rem; /* -1.5px */
  line-height: 1.167;
}

.headline2 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.03125rem; /* -0.5px */
  line-height: 1.2;
}

.headline3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.167;
}

.headline4 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem; /* 0.25px */
  line-height: 1.235;
}

.headline5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
}

.headline6 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.009375rem; /* 0.15px */
  line-height: 1.6;
}

.subtitle1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.009375rem; /* 0.15px */
  line-height: 1.75;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.00625rem; /* 0.1px */
  line-height: 1.57;
}

.body1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125rem; /* 0.5px */
  line-height: 1.5;
}

.body2 {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.015625rem; /* 0.25px */
  line-height: 1.5;
}

.button {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.078125rem; /* 1.25px */
  line-height: 1.75;
  text-transform: uppercase;
}

.caption {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.025rem; /* 0.4px */
  line-height: 1.66;
}

.overline {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.09375rem; /* 1.5px */
  line-height: 2.66;
  text-transform: uppercase;
}
