:root {
  --primary: #49a7d0;
  --primaryDark: #3987af;
  --primaryDarkest: #295779;
  --primaryLight: #8dd2e5;
  --error: #e70909;
  --surface: #ffffff;
  --surfaceVariant: #eef1f4;
  --divider: #dbdbdb;
  --background: #ffffff;
  --onPrimary: #000000;
  --onPrimaryDark: #ffffff;
  --onPrimaryDarkest: #ffffff;
  --onPrimaryLight: #000000;
  --onError: #ffffff;
  --onSurface: #000000;
  --onSurfaceVariant: #000000;
  --onBackground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
