/* VARIABLES */
:root {
  --primary: #49a7d0;
  --primaryDark: #3987af;
  --primaryDarkest: #295779;
  --primaryLight: #8dd2e5;
  --primaryLighter: #e1f3f8;
  --primaryLightest: #f0f9fc;
  --error: #e70909;
  --surface: #ffffff;
  --divider: #dbdbdb;
  --background: #ffffff;
  --backgroundVariant: #eef1f4;
  --onPrimary: #000000;
  --onPrimaryDark: #ffffff;
  --onPrimaryDarkest: #ffffff;
  --onPrimaryLight: #000000;
  --onPrimaryLighter: #000000;
  --onPrimaryLightest: #000000;
  --onError: #ffffff;
  --onSurface: #000000;
  --onBackground: #000000;
  --onBackgroundVariant: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* GENERAL */
/* Following CSS reset is inspired by https://www.joshwcomeau.com/css/custom-css-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* TYPOGRAPHY */
.headline1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.09375rem; /* -1.5px */
  line-height: 1.167;
}

.headline2 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.03125rem; /* -0.5px */
  line-height: 1.2;
}

.headline3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.167;
}

.headline4 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem; /* 0.25px */
  line-height: 1.235;
}

.headline5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
}

.headline6 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.009375rem; /* 0.15px */
  line-height: 1.6;
}

.subtitle1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.009375rem; /* 0.15px */
  line-height: 1.75;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.00625rem; /* 0.1px */
  line-height: 1.57;
}

.body1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125rem; /* 0.5px */
  line-height: 1.5;
}

.body2 {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.015625rem; /* 0.25px */
  line-height: 1.5;
}

.button {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.078125rem; /* 1.25px */
  line-height: 1.75;
  text-transform: uppercase;
}

.caption {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.025rem; /* 0.4px */
  line-height: 1.66;
}

.overline {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.09375rem; /* 1.5px */
  line-height: 2.66;
  text-transform: uppercase;
}
