.container {
  background-color: var(--background);
  border: none;
  cursor: pointer;
}

.line {
  display: block;
  width: 2rem;
  height: 0.25rem;
  margin-bottom: 0.25rem;
  position: relative;
  background-color: var(--onSurface);
  border-radius: 3px;
}

.line:last-child {
  margin-bottom: 0;
}

.container.closed .line {
  position: absolute;
  transform: rotate(45deg);
}

.container.closed .line:nth-child(2) {
  transform: rotate(-45deg);
}

.container.closed .line:last-child {
  display: none;
}
