.container {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the topbar and scrim are above the content */

  > .topbar {
    background-color: var(--surface);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
    display: flex;
    line-height: 0;
    min-height: var(--topbar-height);
    padding: 16px;
  }

  > .topbar > .hamburger.hidden {
    visibility: hidden;
  }

  > .scrim {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: none;
  }

  > .scrim.visible {
    display: block;
  }

  > .menu {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 240px;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition:
      transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      visibility 0.5s;
    visibility: hidden;
  }

  > .menu.visible {
    transform: none;
    visibility: visible;
  }
}
