.container {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
  margin-bottom: 4px;
}

.menu {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  top: 0;
  left: 0;
  width: 240px;
  background-color: var(--surface);
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu.visible {
  transform: none;
}

.list {
  margin-top: 3.5rem;
  list-style-type: none;
}

.list li {
  margin-top: 1rem;
}

.list li:first-child {
  margin-top: 0;
}

.scrim {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: none;
}

.scrim.visible {
  display: block;
}
