.container {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
  margin-bottom: 4px;
}

.menu {
  position: absolute;
  width: 240px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 325px;
  background: var(--surface);
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menuSelected {
  transform: none;
}

.hamburger {
}

.list {
  list-style-type: none;
}

.list li {
  padding: 10px 0;
}

.scrim {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  visibility: hidden;
}

.scrimVisible {
  visibility: visible;
}
