.line {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 4px;
  position: relative;
  background-color: var(--onSurface);
  border-radius: 3px;
}

.line:last-child {
  margin-bottom: 0;
}
