/* Can't use composes when nesting */
.input,
.textarea {
  composes: body1 from global;
}

.error {
  composes: subtitle2 from global;
}

.container {
  display: flex;
  flex-direction: column;
  composes: subtitle2 from global;

  > .input.fixedSize {
    height: var(--input-height);
  }

  > .textarea,
  > .input {
    transition: var(--input-transition);
    line-height: var(--input-leading);
  }

  /* Excludes certain inputs like checkboxes */
  > .textarea,
  > .input[type='date'],
  > .input[type='datetime-local'],
  > .input[type='email'],
  > .input[type='month'],
  > .input[type='number'],
  > .input[type='password'],
  > .input[type='search'],
  > .input[type='tel'],
  > .input[type='text'],
  > .input[type='time'],
  > .input[type='url'],
  > .input[type='week'] {
    background-color: var(--background);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    padding: var(--input-padding);

    &:hover,
    &:active {
      &:not([readonly], [disabled]) {
        border-color: var(--input-active-border-color);
      }
    }

    &:focus {
      outline: 0;

      &:not([readonly], [disabled]) {
        border-color: var(--input-focus-border-color);
      }
    }

    &[aria-invalid='true'] {
      border-color: var(--input-invalid-border-color);

      &:hover,
      &:active {
        border-color: var(--input-invalid-active-border-color);
      }

      &:focus {
        border-color: var(--input-invalid-focus-border-color);
      }
    }

    /* Selection */
    &::selection {
      background-color: var(--primary-dark);
      color: var(--on-primary-dark);
    }
  }

  > .textarea {
    width: var(--textarea-width);
    min-height: var(--textarea-height);
    max-width: 100%;
  }

  > .error {
    color: var(--error);
    margin-top: 0.25rem;
  }
}
