.container {
  cursor: pointer;
  display: block;

  > .select {
    accent-color: var(--primary-dark);
    background-color: var(--background);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    font: inherit;
    line-height: var(--input-leading);
    max-width: 100%;
    padding: var(--input-padding);
    transition: var(--input-transition);
    width: var(--input-width);

    &:hover,
    &:active {
      &:not([readonly], [disabled]) {
        border-color: var(--input-active-border-color);
      }
    }

    &:focus {
      &:not([readonly], [disabled]) {
        border-color: var(--input-focus-border-color);
      }
    }

    /* Form validation */
    &:required {
      &:valid {
        &:hover,
        &:active {
          &:not([readonly], [disabled]) {
            border-color: var(--input-valid-active-border-color);
          }
        }

        &:focus {
          &:not([readonly], [disabled]) {
            border-color: var(--input-valid-focus-border-color);
          }
        }
      }
      &:invalid {
        &:hover,
        &:active {
          border-color: var(--input-invalid-active-border-color);
        }

        &:focus {
          border-color: var(--input-invalid-focus-border-color);
        }
      }
    }

    /* Selection */
    &::selection {
      background-color: var(--primary-dark);
      color: var(--on-primary-dark);
    }

    &:not([disabled], [readonly]) {
      & > .option {
        &:focus,
        &:active,
        &:hover,
        &:checked {
          background-color: var(--primary-dark);
          color: var(--on-primary-dark);
        }
      }
    }
  }
}
