.container {
  color: var(--onSurfaceVariant);
  margin: auto;
  text-align: center;

  > .day {
    composes: body1 from global;
    margin-top: 0.25rem;
    padding: 2px 16px;
  }

  > .day.selected {
    color: var(--onPrimaryDark);
    background-color: var(--primaryDark);
    border-radius: 8px;
  }
}
