.container {
  background-color: var(--surfaceVariant);
  display: flex;
  justify-content: center;
  padding: 32px 16px;
}

.day {
  color: var(--onSurfaceVariant);
  margin: auto;
  text-align: center;
}

.dayNumber {
  margin-top: 0.25rem;
  padding: 2px 16px;
}

.dayNumber.current {
  color: var(--onPrimaryDark);
  background-color: var(--primaryDark);
  border-radius: 8px;
}
