.container {
  display: flex;
  flex-direction: column;

  > .error {
    color: var(--error);
    margin-top: 1rem;
  }

  > .textField {
    margin-top: 1rem;
  }

  > .button {
    margin-top: 1rem;
  }
}
