.container {
  align-items: center;
  appearance: none;
  background-color: var(--background);
  border: none;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: var(--input-leading);
  padding: var(--input-padding);
  text-align: inherit;
  transition: var(--input-transition);

  &:focus-visible {
    outline: 0;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }

  &.contained {
    background-color: var(--primary-dark);
    color: var(--on-primary-dark);
  }

  &.contained:hover {
    background-color: var(--primary-darkest);
  }

  &.contained:focus-visible {
    background-color: var(--primary-darkest);
  }

  &.contained:active {
    background-color: var(--primary-darkest);
  }

  &.contained:disabled {
    background-color: var(--button-contained-disabled-bg-color);
    color: var(--button-contained-disabled-color);
  }

  &.outlined {
    background-color: transparent;
    border: var(--input-border-width) solid var(--primary-dark);
    color: var(--primary-dark);
    font: inherit;
  }

  &.outlined:hover {
    background-color: var(--primary-lightest);
  }

  &.outlined:focus-visible {
    background-color: var(--primary-lightest);
  }

  &.outlined:active {
    color: var(--primary-darkest);
    background-color: var(--primary-lighter);
  }

  &.outlined:disabled {
    border-color: var(--button-outlined-disabled-border-color);
    color: var(--button-outlined-disabled-color);
  }

  &.text {
    background-color: transparent;
    color: var(--primary-dark);
  }

  &.text:hover {
    background-color: var(--primary-lightest);
  }

  &.text:focus-visible {
    background-color: var(--primary-lightest);
  }

  &.text:active {
    color: var(--primary-darkest);
    background-color: var(--primary-lighter);
  }

  &.text:disabled {
    color: var(--button-text-disabled-color);
  }
}
