.container {
  align-items: center;
  appearance: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 64px;
  text-align: inherit;

  &.text {
    composes: headline5 from global;
    color: var(--primaryDark);
    background-color: transparent;
    padding: 6px 8px;
  }

  &.text:hover {
    background-color: var(--primaryLightest);
  }

  &.text:focus-visible {
    color: var(--primaryDarkest);
    background-color: var(--primaryLightest);
  }

  &.text:active {
    color: var(--primaryDarkest);
    background-color: var(--primaryLighter);
  }
}
